requests==2.30.0
beautifulsoup4==4.12.2
twilio==8.2.1
Flask==2.3.2
PyJWT==2.7.0
opentelemetry-distro
opentelemetry-instrumentation-flask
opentelemetry-exporter-otlp
opentelemetry-instrumentation-wsgi
opentelemetry-api
protobuf
grpcio
googleapis-common-protos